.about-us
  padding: 0 6.25%
  flex: 1 1 760px

  &__flex-right
    flex: 1 1 270px

  &__image
    flex: 0 1 270px

@media (min-width: 768px)
  .about-us
    padding: 0

@media (min-width: 1024px)
  .about-us
    margin-right: 10px

@media (min-width: 1366px)
  .about-us
    margin-right: 40px
