.comment
  &__flex
    display: flex
    flex-flow: row wrap
    justify-content: space-around

  &__avatar
    flex: 0 0 auto
    display: block

  &__text
    color: white

  &__link
    color: #fff
    display: block
    text-decoration: none

    &:hover
      text-decoration: underline

  &__button
    color: #e6af00


@media (min-width: 856px)
  .comment
    &__content
      padding-left: 15px
      box-sizing: border-box

    &__avatar
      margin: 0
