.latest-event
  padding: 0 6.25%

  .container
    padding-bottom: 55px
    border-bottom: 1px solid #c9c9c9

  &__flex-right
    flex: 1 1 360px

  &__image
    max-width: 100%
    flex: 0 1 270px

  &__comment
    margin-top: 55px

@media (min-width: 768px)
  .latest-event
    padding: 0

    &__image
      max-width: 370px

@media (min-width: 835px)
  .post
    &__image
      margin-right: 30px

@media (min-width: 869px)
  .post
    &__title
      margin-top: -3px
