<section class="about-us post">
  <h1 class="about-us__header post__header text_light">A&nbsp;few&nbsp;words&nbsp;about&nbsp;us</h1>
  <div class="about-us__content post__content">
    <div class="about-us__flex post__flex">
      <img class="about-us__image post__image" src="img/about-us.jpg" alt="Skyman :D">
      <div class="about-us__flex-right">
        <h2 class="about-us__title post__title text_light">Vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatib.</h2>
        <p class="about-us__text post__text text_regular text_default">Ectus eleifend purus, eget bibendum nunc turpis tristique, dui nibh tincid&shy;unt sem, ac congue turpis nibh quis est? In lobortis imperdiet placerat dictum sagittis, at viverra ipsum tincidunt nisi orci, sagittis eget dictum porttitor, malesuada vel turpis.</p>
        <p class="about-us__text post__text text_regular text_default">Proin at tortor porta libero posuere congue. Sed sed nulla dignissim augue interdum pulvinar ac eget lorem. Vivamus bibendum ante id lectus molestie, vulputate interdum arcu congue.</p>
      </div>
    </div>
    <p class="about-us__text post__text text_regular text_default">Bibendum nunc turpis tristique, dui nibh tincidunt sem, ac congue turpis nibh quis est? In lobortis imperdiet placerat dictum sagittis, at viverra ipsum tincidunt nisi orci, sagittis eget dictum porttitor, malesuada vel turpis.</p>
    <p class="about-us__text post__text text_regular text_default">Proin at tortor porta libero posuere congue. Sed sed nulla dignissim augue interdum pulvinar ac eget lorem. Vivamus bibendum ante id lectus molestie, vulputate interdum arcu congue. Donec felis nulla, accumsan vel semper.</p>
  </div>
</section>
