<section class="choose-list">
  <h1 class="choose-list__header text_light">Why&nbsp;choose&nbsp;us</h1>
  <div class="choose-list__items">
    <div class="choose-list__item">
      <span class="choose-list__digit text_thin">01.</span>
      <div class="choose-list__description">
        <h2 class="choose-list__header text_light">Noummy endrerit ris.</h2>
        <p class="choose-list__text text_default text_regular">In lobortis imperdiet placerat dictum sagi tis, at viverra ipsum tincidunt nisi orci, sagittis eget dictum porttitor.</p>
      </div>
    </div>
    <div class="choose-list__item">
      <span class="choose-list__digit text_thin">02.</span>
      <div class="choose-list__description">
        <h2 class="choose-list__header text_light">Cum sociis natoque.</h2>
        <p class="choose-list__text text_default text_regular">Malesuada vel turpis. Proin at tortor porta libero posuere congue. Sed sed nulla dig nissim augue interdum pulvinar ac.</p>
      </div>
    </div>
    <div class="choose-list__item">
      <span class="choose-list__digit text_thin">03.</span>
      <div class="choose-list__description">
        <h2 class="choose-list__header text_light">Magnis dis parturien.</h2>
        <p class="choose-list__text text_default text_regular">Vivamus bibendum ante id lectus moles tie, vulputate interdum arcu congue. Donec felis nulla, accumsan vel semper sit.</p>
      </div>
    </div>
  </div>
</section>
