<section class="head-menu">
  <div class="container">
    <h1 class="head-menu__header text_light">Courses</h1>
    <ul class="head-menu__menu">
      <li class="head-menu__item text_light"><a class="head-menu__link" href="index.html">Home</a></li>
      <li class="head-menu__separator text_light">/</li>
      <li class="head-menu__item text_light" data-active>Courses</li>
    </ul>
    <div class="head-menu__filter">
      <h2 class="head-menu__filter-header text_light">Filter by category:</h2>
      <ul class="head-menu__menu head-menu__filter-menu">
        <li class="head-menu__item text_light" data-active>Show all</li>
        <li class="head-menu__separator text_light">/</li>
        <li class="head-menu__item text_light">Category 1</li>
        <li class="head-menu__separator text_light">/</li>
        <li class="head-menu__item text_light">Category 2</li>
        <li class="head-menu__separator text_light">/</li>
        <li class="head-menu__item text_light">Category 3</li>
      </ul>
    </div>
  </div>
</section>
