<section class="courses">
  <div class="container">
    <div class="courses__item">
      <h1 class="courses__header text_light">Introductory course</h1>
      <img class="courses__button" src="img/down-arrow.svg" alt="arrow">
      <div class="courses__date">
        <p class="courses__day text_light">Tuesday 27 May,</p>
        <p class="courses__time text_bold text_default">7-9.30pm</p>
      </div>
      <div class="courses__date">
        <p class="courses__day text_light">Wednesday 28 May,</p>
        <p class="courses__time text_bold text_default">7-9.30pm</p>
      </div>
      <p class="courses__description text_regular text_default">Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
      <a class="courses__link text_regular text_default" href="#">sign up now!</a>
      <svg class="courses__link-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>
    </div>
    <div class="courses__item">
      <h1 class="courses__header text_light">Happiness course</h1>
      <img class="courses__button" src="img/down-arrow.svg" alt="arrow">
      <div class="courses__date">
        <p class="courses__day text_light">Tuesday 27 May,</p>
        <p class="courses__time text_bold text_default">7-9.30pm</p>
      </div>
      <div class="courses__date">
        <p class="courses__day text_light">Wednesday 28 May,</p>
        <p class="courses__time text_bold text_default">7-9.30pm</p>
      </div>
      <p class="courses__description text_regular text_default">Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
      <a class="courses__link text_regular text_default" href="#">sign up now!</a>
      <svg class="courses__link-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>
    </div>
    <div class="courses__item">
      <h1 class="courses__header text_light">Love course</h1>
      <img class="courses__button" src="img/down-arrow.svg" alt="arrow">
      <div class="courses__date">
        <p class="courses__day text_light">Tuesday 27 May,</p>
        <p class="courses__time text_bold text_default">7-9.30pm</p>
      </div>
      <p class="courses__description text_regular text_default">Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at. </p>
      <a class="courses__link text_regular text_default" href="#">sign up now!</a>
      <svg class="courses__link-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>
    </div>
    <div class="courses__item">
      <h1 class="courses__header text_light">All other courses</h1>
      <img class="courses__button" src="img/down-arrow.svg" alt="arrow">
      <div class="courses__date">
        <p class="courses__day text_light">Commence week of 19 May 2014</p>
      </div>
      <p class="courses__description text_regular text_default">Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at. </p>
      <a class="courses__link text_regular text_default" href="#">sign up now!</a>
      <svg class="courses__link-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>
    </div>
  </div>
</section>
