<div class="course-inner course-inner-1">
  <div class="container">
    <div class="course-inner__item">
      <img class="course-inner__image" src="img/course-1.jpg" alt="">
      <div class="course-inner__description">
        <h3 class="course-inner__name text_light">Lorem ipsum dolor sit amet consectetur.</h3>
        <p class="course-inner__text text_regular text_default">Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida.</p>
      </div>
    </div>
    <div class="course-inner__item">
      <img class="course-inner__image" src="img/course-2.jpg" alt="">
      <div class="course-inner__description">
        <h3 class="course-inner__name text_light">Ascing elit sed blandit massa vel mauris. sollicitudin</h3>
        <p class="course-inner__text text_regular text_default">At cursus nec luctus a lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros.</p>
      </div>
    </div>
  </div>
</div>
<div class="course-inner course-inner-2">
  <div class="container">
    <div class="course-inner__item">
      <img class="course-inner__image" src="img/course-3.jpg" alt="">
      <div class="course-inner__description">
        <h3 class="course-inner__name text_light">Adipiscing elit sed blan.</h3>
        <p class="course-inner__text text_regular text_default">Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus a lorem.</p>
      </div>
    </div>
    <div class="course-inner__item">
      <img class="course-inner__image" src="img/course-4.jpg" alt="">
      <div class="course-inner__description">
        <h3 class="course-inner__name text_light">Dit massa vel mauris sol. licitudin</h3>
        <p class="course-inner__text text_regular text_default">Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan males.</p>
      </div>
    </div>
    <div class="course-inner__item">
      <img class="course-inner__image" src="img/course-5.jpg" alt="">
      <div class="course-inner__description">
        <h3 class="course-inner__name text_light">Praesent vestibulum.</h3>
        <p class="course-inner__text text_regular text_default">Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</div>
<div class="course-inner course-inner-3">
  <div class="container">
    <div class="course-inner__item">
      <img class="course-inner__image" src="img/course-6.jpg" alt="">
      <div class="course-inner__description">
        <h3 class="course-inner__name text_light">Elit sed blan.</h3>
        <p class="course-inner__text text_regular text_default">Cursus nec luctus a lorem. Maec enas tristique orci ac sem.</p>
      </div>
    </div>
    <div class="course-inner__item">
      <img class="course-inner__image" src="img/course-7.jpg" alt="">
      <div class="course-inner__description">
        <h3 class="course-inner__name text_light">Dit massa velaur.</h3>
        <p class="course-inner__text text_regular text_default">Duis ultricies pharetra magna. Donec accumsan malesuada.</p>
      </div>
    </div>
    <div class="course-inner__item">
      <img class="course-inner__image" src="img/course-8.jpg" alt="">
      <div class="course-inner__description">
        <h3 class="course-inner__name text_light">Mauris sollicitudin.</h3>
        <p class="course-inner__text text_regular text_default">Donec accumsan malesuada orci. Donec sit amet eros lorem ipsum.</p>
      </div>
    </div>
    <div class="course-inner__item">
      <img class="course-inner__image" src="img/course-9.jpg" alt="">
      <div class="course-inner__description">
        <h3 class="course-inner__name text_light">Aenean nonummy.</h3>
        <p class="course-inner__text text_regular text_default">Lorem ipsum dolor sit amet, con sectetuer adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>
