<section class="events">
  <div class="container">
    <div class="events__item">
      <img class="events__image" src="img/event-1.jpg" alt="Practical parenting">
      <div class="events__information">
        <div class="events__date">
          <h1 class="events__day text_light">
            15th
            <span class="events__month text_bold text_default">june</span>
          </h1>
          <p class="events__time text_regular text_default">7:30pm</p>
        </div>
        <div class="events__description">
          <h2 class="events__name text_light">Practical<br>parenting</h2>
          <a class="events__link text_regular text_default" href="#">
            book now!
            <svg class="events__link-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="events__item">
      <img class="events__image" src="img/event-2.jpg" alt="Practical meditation">
      <div class="events__information">
        <div class="events__date">
          <h1 class="events__day text_light">
            20th
            <span class="events__month text_bold text_default">june</span>
          </h1>
          <p class="events__time text_regular text_default">7:30pm</p>
        </div>
        <div class="events__description">
          <h2 class="events__name text_light">Practical<br>meditation</h2>
          <a class="events__link text_regular text_default" href="#">
            book now!
            <svg class="events__link-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="events__item">
      <img class="events__image" src="img/event-3.jpg" alt="Practical health">
      <div class="events__information">
        <div class="events__date">
          <h1 class="events__day text_light">
            25th
            <span class="events__month text_bold text_default">june</span>
          </h1>
          <p class="events__time text_regular text_default">7:30pm</p>
        </div>
        <div class="events__description">
          <h2 class="events__name text_light">Practical<br>health</h2>
          <a class="events__link text_regular text_default" href="#">
            book now!
            <svg class="events__link-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
