<div class="features">
  <div class="features__item features__background">
    <h1 class="features__number text_thin">01.</h1>
    <p class="features__text text_light">Increase your power of <br>  attention & mindfulness </p>
  </div>
  <div class="features__item">
    <h1 class="features__number text_thin">01.</h1>
    <p class="features__text text_light">Increase your power of <br>  attention & mindfulness </p>
  </div>
  <div class="features__item">
    <h1 class="features__number text_thin">02.</h1>
    <p class="features__text text_light">Refine the power <br> of reason</p>
  </div>
  <div class="features__item">
    <h1 class="features__number text_thin">03.</h1>
    <p class="features__text text_light">Find the time your mind <br> can't find</p>
  </div>
  <div class="features__item">
    <h1 class="features__number text_thin">04.</h1>
    <p class="features__text text_light">Gain a sense of fulfilment <br> in your life</p>
  </div></div>
