<header class="header">
  <div class="container">
    <a class="header__logo logo" href="index.html">
      <img class="logo__image" src="img/logo.png" alt="logo">
      <p class="text_light">School of <br> Philosophy</p>
    </a>
    <nav class="header__menu menu">
      <img class="menu__button" src="img/menu.svg" alt="menu">
      <ul class="menu__list menu__list-closed">
        <li class="menu__triangle"></li>
        <li class="menu__item"><a class="menu__link text_thin text_default" href="index.html">Home</a></li>
        <li class="menu__separator text_thin">/</li>
        <li class="menu__item"><a class="menu__link text_thin text_default" href="about.html">About&nbsp;us</a></li>
        <li class="menu__separator text_thin">/</li>
        <li class="menu__item"><a class="menu__link text_thin text_default" href="courses.html">Cources</a></li>
        <li class="menu__separator text_thin">/</li>
        <li class="menu__item"><a class="menu__link text_thin text_default" href="events.html">Events</a></li>
      </ul>
    </nav>
  </div>
</header>
