<div class="latest-event">
  <div class="container">
    <section class="latest-event__post post">
      <h1 class="post__header text_light">Latest&nbsp;event</h1>
      <div class="post__content">
        <div class="latest-event__flex post__flex">
          <img class="latest-event__image post__image" src="img/post.jpg" alt="meditation">
          <div class="latest-event__flex-right">
            <h2 class="post__title text_light">Cum sociis natoque penatib us et magnis dis parturient.</h2>
            <p class="post__text text_regular text_default">Sagittis, at viverra ipsum tincidunt nisi orci, sagittis eget dictum porttitor, malesuada vel turpis. Proin at tortor porta libero posuere congue. Sed sed nulla dignissim augue interdum pulvinar ac eget lorem.</p>
            <p class="post__text text_regular text_default">Vivamus bibendum ante id lectus molestie, vulputate interdum arcu congue. Donec felis nulla, accumsan vel semper sit amet, porttitor ut nisi.</p>
          </div>
        </div>
        <p class="post__text text_regular text_default">Dui nibh tincidunt sem, ac congue turpis nibh quis est? In lobortis imperdiet placerat dictum sagittis, at viverra ipsum tincidunt nisi orci, sagittis eget dictum porttitor, malesuada vel turpis. Proin at tortor porta libero posuere congue. Sed sed nulla dignissim augue interdum pulvinar ac eget lorem. Vivamus bibendum ante id lectus molestie.</p>
        <p class="post__text text_regular text_default">Bulputate interdum arcu congue. Donec felis nulla, accumsan vel semper sit amet, porttitor ut nisi. Phasellus cursus viverra urna vel pretium. Sed elementum elit a risus convallis rhoncus. Aliquam varius diam id tortor.</p>
      </div>
      <div class="post__panel">
        <div class="post__panel-left">
          <a class="post__panel-button post__text text_default text_regular" href="#">
            <img class="post__panel-image" src="img/date.png" alt="">
            March 14, 2013
          </a>
          <a class="post__panel-button post__text text_default text_regular" href="#">
            <img class="post__panel-image" src="img/user.png" alt="">
            Admin
          </a>
          <a class="post__panel-button post__text text_default text_regular" href="#">
            <img class="post__panel-image" src="img/comment.png" alt="">
            No comments
          </a>
          <a class="post__panel-button post__text text_default text_regular" href="#">
            <img class="post__panel-image" src="img/bookmark.png" alt="">
             Etiam cursus leo
          </a>
        </div>
        <div class="post__panel-right">
          <a class="post__panel-button post__text text_default text_regular" href="#">
            <img class="post__panel-image" src="img/link.png" alt="">
            Permalink
          </a>
        </div>
      </div>
    </section>
    <div class="latest-event__social social">
      <div class="social__item">
        <button class="social__button social__twitter text_helvetica" name="twitter">Tweet</button>
        <div class="social__counter">0</div>
      </div>
      <div class="social__item">
        <button class="social__button social__facebook text_helvetica" name="facebook">Like</button>
        <div class="social__counter">0</div>
      </div>
      <div class="social__item">
        <button class="social__button social__google" name="google plus">+1</button>
        <div class="social__counter">0</div>
      </div>
    </div>
    <div class="latest-event__comment comment">
      <p class="latest-event__comment-author comment__author comment__text text_default text_regular">Written by admin</p>
      <div class="comment__flex">
        <img class="latest-event__comment-avatar comment__avatar" src="img/avatar.png" alt="admin">
        <div class="latest-event__comment-content comment__content">
          <p class="comment__text text_default text_regular">Monsequuntur magni dolores eonqui ratione voluptate msequi nesciunt, neque porro quisquam e  dolore nuyfasas. Vertyu erauas aitaesa ertyasneo eniptaiades. Volernatur aut oditaut. onsequun&shy;tur magni dolores eo qui ratione. voluptate msequi nesciunt, neque porro quisquam.</p>
          <a class="latest-event__comment-link comment__link text_default text_regular" href="#">View all posts by:<span class="comment__button text_default text_regular">Admin</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
