<div class="music">
  <div class="music__header">
    <p class="music__text text_regular text_default">Why Philosophy?</p>
    <p class="music__text-bold text_bold text_default">An explanation</p>
  </div>
  <div class="music__panel">
    <div class="music__play" id="play"></div>
    <div class="music__timeline">
      <div class="music__timeline-before"></div>
      <div class="music__timeline-after"></div>
      <div class="music__controller"></div>
    </div>
    <div class="music__volume">
      <div class="music__volume-item music__volume-item-1" active></div>
      <div class="music__volume-item music__volume-item-2"></div>
      <div class="music__volume-item music__volume-item-3"></div>
      <div class="music__volume-item music__volume-item-4"></div>
    </div>
  </div>
</div>
