<section class="principles">
  <div class="container">
    <h1 class="principles__header text_light">Our principles&nbsp;&&nbsp;practices</h1>
    <div class="principles__items">
      <div class="principles__item">
        <h2 class="principles__header text_light">
          <span class="principles__digit text_thin">01.</span>
          Not&nbsp;for&nbsp;profit
        </h2>
        <p class="principles__text text_default text_regular">Viverra ipsum tincidunt nisi orci, sagittis eget dictum porttitor, malesuada vel turpis. Proin at tortor porta libero posuere congue. Sed sed nulla dignissim augue interdum pulvinar ac eget lorem. Vivamus bibendum ante id lectus molestie, vulputate interdum.</p>
      </div>
      <div class="principles__item">
        <h2 class="principles__header text_light">
          <span class="principles__digit text_thin">02.</span>
          Tutors
        </h2>
        <p class="principles__text text_default text_regular">Proin at tortor porta libero posuere congue. Sed sed nulla dignissim augue interdum pulvinar ac eget lorem. Vivamus bibendum ante id lectus molestie, vulputate interdum arcu congue. Donec felis nulla, accumsan vel semper sit amet, porttitor ut nisi.</p>
      </div>
      <div class="principles__item">
        <h2 class="principles__header text_light">
          <span class="principles__digit text_thin">03.</span>
          No&nbsp;exams!
        </h2>
        <p class="principles__text text_default text_regular">Livinar ac eget lorem. Vivamus bibendum ante id lectus molestie, vulputate interdum arcu congue. Donec felis nulla, accumsan vel semper sit amet, porttitor ut nisi. Phasellus cursus viverra urna vel pretium. Sed eleme ntum elit a risus convallis rhoncus.</p>
      </div>
      <div class="principles__item">
        <h2 class="principles__header text_light">
          <span class="principles__digit text_thin">04.</span>
          Course&nbsp;structure
        </h2>
        <p class="principles__text text_default text_regular">Sed sed nulla dignissim augue interdum pulvinar ac eget lorem. Vivamus bibendum ante id lectus molestie, vulputate interdum arcu congue. Donec felis nulla, accumsan vel semper sit amet, porttitor ut nisi. Pha sellus cursus viverra urna vel pretium.</p>
      </div>
      <div class="principles__item">
        <h2 class="principles__header text_light">
          <span class="principles__digit text_thin">05.</span>
          Service
        </h2>
        <p class="principles__text text_default text_regular">Bibendum ante id lectus molestie, vulputate interdum arcu congue. Donec felis nulla, accumsan vel semper sit amet, porttitor ut nisi. Phasellus cursus viverra urna vel pretium. Sed elementum elit a risus convallis rhoncus? Aliquam varius diam id tortor scelerisque.</p>
      </div>
      <div class="principles__item">
        <h2 class="principles__header text_light">
          <span class="principles__digit text_thin">06.</span>
          Course&nbsp;attendance
        </h2>
        <p class="principles__text text_default text_regular">Vel semper sit amet, porttitor ut nisi. Phasellus cursus viverra urna vel pretium. Sed eleme ntum elit a risus convallis rhoncus. Aliquam varius diam id tortor scele risque, vel facilisis justo laoreet. Maecenas at enim quis.Praesent vestibulum aenean noummy.</p>
      </div>
    </div>
  </div>
</section>
