<aside class="recent-comment">
  <h1 class="recent-comment__header text_light">Recent&nbsp;comments</h1>
  <div class="recent-comment__items">
    <div class="recent-comment__item comment">
      <div class="recent-comment__flex comment__flex">
        <img class="recent-comment__avatar comment__avatar" src="img/avatar.png" alt="admin">
        <div class="recent-comment__content comment__content">
          <p class="recent-comment__author comment__author text_default text_regular">Admin</p>
          <p class="recent-comment__date comment__date text_default text_regular">12-15-2014</p>
        </div>
      </div>
      <p class="recent-comment__text comment__text text_default text_regular">Lorem ipsum dolor sit amet, conectetuer adipiscing eliraes ent vestibulum.</p>
    </div>
    <div class="recent-comment__item comment">
      <div class="recent-comment__flex comment__flex">
        <img class="recent-comment__avatar comment__avatar" src="img/avatar.png" alt="admin">
        <div class="recent-comment__content comment__content">
          <p class="recent-comment__author comment__author text_default text_regular">Admin</p>
          <p class="recent-comment__date comment__date text_default text_regular">12-16-2014</p>
        </div>
      </div>
      <p class="recent-comment__text comment__text text_default text_regular">Vestibulum molestie lacus. Aenean no nummy hend rerit mauris hasellus por.</p>
    </div>
    <div class="recent-comment__item comment">
      <div class="recent-comment__flex comment__flex">
        <img class="recent-comment__avatar comment__avatar" src="img/avatar.png" alt="admin">
        <div class="recent-comment__content comment__content">
          <p class="recent-comment__author comment__author text_default text_regular">Admin</p>
          <p class="recent-comment__date comment__date text_default text_regular">12-18-2014</p>
        </div>
      </div>
      <p class="recent-comment__text comment__text text_default text_regular">Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</aside>
