<section class="related-posts">
  <h1 class="related-posts__header text_light">Related posts</h1>
  <div class="related-posts__items">
    <div class="related-posts__item">
      <img class="related-posts__image" src="img/related-post-1.jpg" alt="post-1">
      <p class="related-posts__text text_regular text_default">Lorem ipsum dolor sit amet, cose tuer.</p>
    </div>
    <div class="related-posts__item">
      <img class="related-posts__image" src="img/related-post-2.jpg" alt="post-2">
      <p class="related-posts__text text_regular text_default">Adipiscing elit raesent ves tibulum molestie lacus.</p>
    </div>
    <div class="related-posts__item">
      <img class="related-posts__image" src="img/related-post-3.jpg" alt="post-3">
      <p class="related-posts__text text_regular text_default">Estibulum molestie lacus. Aenean no nummy hendre.</p>
    </div>
    <div class="related-posts__item">
      <img class="related-posts__image" src="img/related-post-4.jpg" alt="post-4">
      <p class="related-posts__text text_regular text_default">Aenean nonummy hendre rit mauris porta.</p>
    </div>
  </div>
</section>
