<section class="reply">
  <div class="container">
    <h1 class="reply__header text_light">Leave a reply</h1>
    <form class="reply__form" action="index.html" method="post" id="reply-form">
      <input class="reply__input text_default text_regular" type="text" name="name" placeholder="Name*">
      <input class="reply__input text_default text_regular" type="text" name="mail" placeholder="E-mail*">
      <input class="reply__input text_default text_regular" type="text" name="website" placeholder="Website">
      <textarea class="reply__input reply__comment text_default text_regular" name="comment" rows="8" placeholder="Comment*"></textarea>
      <button class="reply__button text_default text_regular" type="button" name="button" disabled>Submit Comment</button>
    </form>
  </div>
</section>
