<section class="response">
  <div class="container">
    <h1 class="response__header text_light">2&nbsp;responses</h1>
    <div class="response__comments">
      <div class="response__comment comment_default">
        <div class="comment__flex">
          <img class="comment__avatar" src="img/avatar.png" alt="admin">
          <p class="comment__content comment__text text_regular text_default">Lorem ipsum dolor sit amet, consectetuer adipiscing eliraesent vestibulum molestie lacus. Aenean non ummy hendrerit mauris. Phasellus porta.  Fusce suscipit varius mi. Lorem ipsum dolor sit amet, onect etuer. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at. Cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet elit.</p>
        </div>
        <div class="comment__flex response__panel">
          <p class="comment__text text_regular text_default">Admin</p>
          <div class="response__right">
            <p class="response__date comment__text text_regular text_default">April 21, 2013</p>
            <p class="comment__button text_regular text_default">Reply</p>
          </div>
        </div>
      </div>
      <div class="response__comment response__subcomment comment_default">
        <div class="comment__flex">
          <img class="comment__avatar" src="img/avatar.png" alt="admin">
          <p class="comment__content comment__text text_regular text_default">Lorem ipsum dolor sit amet, consectetuer adipiscing eliraesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.  Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at. Cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet elit.</p>
        </div>
        <div class="comment__flex response__panel">
          <p class="comment__text text_regular text_default">Admin</p>
          <div class="response__right">
            <p class="response__date comment__text text_regular text_default">April 21, 2013</p>
            <p class="comment__button text_regular text_default">Reply</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
