<section class="team">
  <div class="container">
    <h2 class="team__header text_light">Our team</h2>
    <div class="team__items">
      <div class="team__item">
        <img class="team__image" src="img/team-1.jpg" alt="Mark Johnson">
        <h3 class="team__name text_light">Mark Johnson</h3>
        <p class="team__description text_default text_regular">Bibendum ante id lectus moles tie, vulp utate interdum arcu congue.</p>
      </div>
      <div class="team__item">
        <img class="team__image" src="img/team-2.jpg" alt="Bradley Grosh">
        <h3 class="team__name text_light">Bradley Grosh</h3>
        <p class="team__description text_default text_regular">Donec felis nulla, accumsan vel semper sit. amet, porttitor ut nisi. Phasellus cursus. viverra</p>
      </div>
      <div class="team__item">
        <img class="team__image" src="img/team-3.jpg" alt="Patrick Pool">
        <h3 class="team__name text_light">Patrick Pool</h3>
        <p class="team__description text_default text_regular">Viverra urna vel pretium. Sed elementum elit a risus convallis rhoncus aliquam. varius diam id</p>
      </div>
      <div class="team__item">
        <img class="team__image" src="img/team-4.jpg" alt="Jessica Priston">
        <h3 class="team__name text_light">Jessica Priston</h3>
        <p class="team__description text_default text_regular">Aliquam varius diam id tortor scelerisque, vel facilisis justo laoreet maecenas at. enim quis.</p>
      </div>
    </div>
  </div>
</section>
