@import "../../bower_components/normalize.css/normalize"

*
  margin: 0
  padding: 0

svg path
  fill: inherit
  stroke: inherit
  stroke-width: inherit

img
  align-self: flex-start

.container
  width: 100%
  margin: 0 auto

@media (min-width: 768px)
  .container
    width: 87.5%

@media (min-width: 1024px)
  .container
    width: 85%

@media (min-width: 1365px)
  .container
    width: 1170px

// common
@import "components/fonts.sass"
@import "components/text.sass"
@import "components/logo.sass"
@import "components/menu.sass"
@import "components/header.sass"
@import "components/footer.sass"
@import "components/post.sass"

// index.html
// @import "components/front.sass"
// @import "components/features.sass"
// @import "components/music.sass"
// @import "components/calendar.sass"
// @import "components/main-front.sass"
// @import "components/main-content.sass"
// @import "components/list.sass"
// @import "components/about.sass"
// @import "components/events.sass"
// @import "components/ad.sass"
// @import "components/courses.sass"

// courses.html
// @import "components/course-head.sass"
// @import "components/course-inner.sass"

// about.html
@import "components/about-main.sass"
@import "components/choose-list.sass"
@import "components/about-us.sass"
// @import "components/team.sass"
// @import "components/principles.sass"
